<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div th:unless="${unauth}" class="card mx-3">
			<div class="card-body">
				<h1 class="text-center">Your Contacts</h1>
				<div class="search-container my-3">
					<input onkeyup="search()" id="search-input" type="text" class="form-control"
						placeholder="Search contacts.." />
					<div class="search-result mt-1"></div>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${contacts}">
							<th scope="row" th:text="${'SCMUSER'+c.cId}">1</th>
							<td><img class="my_profile_picture"
								th:src="@{'/img/'+${c.image}}" alt="profile_img" /> <span
								th:text="${c.name}"></span></td>
							<td><a th:href="@{'/user/contact/' + ${c.cId}}"> <span
									th:text="${c.email}"></span>
							</a></td>
							<td th:text="${c.phone}">@mdo</td>
							<td><a th:onclick="|deleteContact(${c.cId})|"
								class="btn btn-danger btn-sm">Delete</a>

								<form th:action="@{'/user/update-contact/' + ${c.cId}}"
									th:method="post" class="mt-2">
									<button class="btn btn-primary btn-sm" type="submit">Update</button>
								</form></td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
		<nav th:unless="${unauth}" aria-label="Page navigation example">
			<ul class="pagination">
				<li th:if="${currentPage != 0}" class="page-item"><a
					class="page-link" href="#"
					th:href="@{'/user/show-contacts/' + ${currentPage-1}}">Previous</a></li>
				<li th:classappend="${currentPage==i-1  ? 'active':''}"
					th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"><a
					class="page-link" href="#"
					th:href="@{'/user/show-contacts/' + ${i-1}}"><span
						th:text="${i}"></span></a></li>
				<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
					class="page-link" href="#"
					th:href="@{'/user/show-contacts/' + ${currentPage+1}}">Next</a></li>
			</ul>
		</nav>
		<h1 th:if="${unauth}">You are not authorized to perform this
			action.</h1>
		<script>
			$(document).ready(() => {
				$(".item").removeClass("active")
				$("#contactlist-link").addClass("active")
			})
		</script>
	</section>
</body>
</html>