<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div class="card mx-3">
			<div class="card-body">
				<h1 class="text-center">Update Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form action="#" th:object="${contact}"
								enctype="multipart/form-data" method="POST"
								th:action="@{/user/process-update}" class="mt-2">
								
								<input type="hidden" th:value="${contact.cId}" th:name="cId" />
								<!-- first Name -->

								<div class="input-group">
									<div class="input-group-text">
										<i class="fa fa-plus"></i>
									</div>
									<input type="text" id="firstName" name="name"
										placeholder="Enter name here" class="form-control"
										th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
										th:value="${contact.name}">
									<div th:each="e : ${#fields.errors('name')}" th:text="${e}" id="validationServerUsernameFeedback"
										class="invalid-feedback"></div>

								</div>

								<!-- Second Name -->

								<div class="input-group mt-3">
									<div class="input-group-text">
										<i class="fa fa-user-alt"></i>
									</div>
									<input type="text" id="secondName" name="secondName"
										placeholder="Enter nick name here" class="form-control"
										th:classappend="${#fields.hasErrors('secondName') ? 'is-invalid':''}"
										th:value="${contact.secondName}">
									<div th:each="e : ${#fields.errors('secondName')}" th:text="${e}" id="validationServerUsernameFeedback"
										class="invalid-feedback"></div>
								</div>

								<!-- Phone Field -->

								<div class="input-group mt-3">
									<div class="input-group-text">
										<i class="fa fa-phone"></i>
									</div>
									<input type="number" id="phone" name="phone"
										placeholder="Enter phone number here" class="form-control"
										th:classappend="${#fields.hasErrors('phone') ? 'is-invalid':''}"
										th:value="${contact.phone}">
									<div th:each="e : ${#fields.errors('phone')}" th:text="${e}" id="validationServerUsernameFeedback"
										class="invalid-feedback"></div>
								</div>

								<!-- Email Field -->
								<div class="input-group mt-3">
									<div class="input-group-text">@</div>
									<input type="email" id="email" name="email"
										placeholder="Enter email here" class="form-control"
										th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
										th:value="${contact.email}">
									<div th:each="e : ${#fields.errors('email')}" th:text="${e}" id="validationServerUsernameFeedback"
										class="invalid-feedback"></div>
								</div>

								<!-- Work Field -->
								<div class="input-group mt-3">
									<div class="input-group-text">
										<i class="fa fa-briefcase"></i>
									</div>
									<input type="text" id="work" name="work"
										placeholder="Enter work here" class="form-control"
										th:classappend="${#fields.hasErrors('work') ? 'is-invalid':''}"
										th:value="${contact.work}">
									<div th:each="e : ${#fields.errors('work')}" th:text="${e}" id="validationServerUsernameFeedback"
										class="invalid-feedback"></div>
								</div>

								<!-- Description Field -->
								<!-- Work Field -->
								<div class="input-group mt-3">
									<textarea id="description" name="description"
										rows="10" class="form-control"
										placeholder="Enter description here" 
										th:classappend="${#fields.hasErrors('description') ? 'is-invalid':''}"
										th:text="${contact.description}"></textarea>
									<div th:each="e : ${#fields.errors('description')}" th:text="${e}" id="validationServerUsernameFeedback"
										class="invalid-feedback"></div>
								</div>
								
								<!-- Contact Image -->
								<div class="container text-center mt-2">
									<img style="width: 250px; height: 250px;" class="img-fluid my_profile_picture" th:src="@{'/img/' + ${contact.image}}" />
								</div>
								<p class="text-secondary">Choose a new profile pic</p>
								<div class="custom-file">
									<input type="file" name="profileImage" />
								</div>

								<div class="container text-center">
									<button type="submit" class="btn btn-outline-primary">Update Contact</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Place the first <script> tag in your HTML's <head> -->
		<script
			src="https://cdn.tiny.cloud/1/l320tmicfaw2znk2k7ge9kxp3xvbvslugwyxhmulxr9setd6/tinymce/7/tinymce.min.js"
			referrerpolicy="origin"></script>

		<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
		<script>
		  	tinymce.init({
		    selector: '#description',
		    plugins: [
		      // Core editing features
		      'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
		      // Your account includes a free trial of TinyMCE premium features
		      // Try the most popular premium features until May 27, 2025:
		      'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
		    ],
		    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
		    tinycomments_mode: 'embedded',
		    tinycomments_author: 'Author name',
		    mergetags_list: [
		      { value: 'First.Name', title: 'First Name' },
		      { value: 'Email', title: 'Email' },
		    ],
		    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
		  });
		</script>
	</section>
</body>
</html>